<div class="card card-topline-purple">
  <div class="card-head">
    <header>Upload Image</header>
    <div class="tools">

    </div>
  </div>
  <div class="card-body">
  <div class="content notranslate">
    <form [formGroup]="appsliderAddForm" autocomplete="off" enctype="multipart/form-data">
     
      <div class="form-row">
        <div class="form-group col-md-6">
            <div class="tes-img" *ngIf="imagefilename != 'NULL' && imagefilename != null && imagefilename != ''; else imageelseBlock">
          <img [src]="imagefilename" alt="User face"  height="100" width="100" onerror="this.onerror=null;this.src='assets/img/user.png';">
            </div>
            <ng-template #imageelseBlock>
                <img src="assets/img/user.png" alt="User face" height="100" width="100">
            </ng-template>
          <input type="file" class="form-control-file" (change)="readURL($event)" formControlName="file" accept="image/*" 
          id="exampleFormControlFile1" #img>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Type of a User </label>
          <select class="form-control" formControlName="Type">
            <option selected disabled>select a Type </option>
            <option value="user">User</option>
            <option value="provider">Provider</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12 text-center">
          <!-- [disabled]="!appsliderAddForm.valid" (click)="appslideradd()" -->
          <button type="submit" (click)="appslideradd()" [disabled]="!appsliderAddForm.valid" class="btn btn-primary waves-effect waves-light">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>